<%- include("./partials/header") %>
<%- include("./partials/navbar") %>
<div class="container">
<h2 class="mt-4">Cree par Louis Sebastien Malack </h2></br>
<h2 class="mt-4">Devellopeur full-Stack Javascript </h2></br>
<h2 class="mt-4">Num tel : 77 586 91 20 </h2></br>

</div>
<%- include("./partials/footer") %>